@model List<DTO.Model.MedarbejderDTO>
@{
    ViewBag.Title = "Oversigt over Medarbejdere";
}

<h2>Oversigt over Medarbejdere</h2>

<table class="table">
    <thead>
        <tr>
            <th>Initialer</th>
            <th>Navn</th>
            <th>Afdeling</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medarbejder in Model)
        {
            <tr>
                <td>@medarbejder.Initialer</td>
                <td>@medarbejder.Navn</td>
                <td>@medarbejder.Afdeling.Navn</td>
                <td>
                    @Html.ActionLink("Opret Tidsregistrering", "CreateTidsregistrering", "Tidsregistrering", new { medarbejderId = medarbejder.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
